body {
  background: lemonchiffon; }

header {
  display: flex;
  align-items: center;
  justify-content: center; }

#header {
  margin: 0 auto;
  color: tomato;
  text-shadow: 1px 1px 0.5px black; }
